    <!-- CTCache modified -->
    <legend class="h3"><__trans phrase="Content Type Privileges"></legend>
    <mt:loop name="content_type_perm_groups">
        <mtapp:setting
            id="ct-perm-group-<mt:var name="ct_perm_group_unique_id" escape="html">"
            label="<mt:var name="ct_perm_group_label" escape="html">">
        <div class="form-group">
        <mt:loop name="ct_permissions">
            <div class="form-check form-check-inline">
                <div class="custom-control custom-checkbox">
                    <input id="<mt:var name="id">" type="checkbox" onclick="togglePerms(this, '<mt:var name="children" replace=":","\\:">')" class="<mt:var name="id"> cb custom-control-input" name="permission" value="<mt:var name="id">"<mt:if name="can_do">  checked="checked"</mt:if>>
                    <label class="custom-control-label" for="<mt:var name="id" escape="html">"><mt:var name="label" escape="html"></label>
                </div>
            </div>
        </mt:loop>
        </div>
        </mtapp:setting>
    </mt:loop>
